/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Allura&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Reggae+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css (1) ***!
  \*********************************************************************/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css (2) ***!
  \*********************************************************************/
html {
  background-color: rgb(0 51 25);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/first-page-style.css ***!
  \***************************************************************************************/
.first-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
}

/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/second-page-style.css ***!
  \****************************************************************************************/
.second-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.top-buttons-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: auto;
}

.buttons-second-page {
  width: 10%;
  height: auto;
  font-family: Kanit, sans-serif;
  background-color: rgb(0 51 25);
  transition: all 0.2s ease;
  box-shadow:
    4px 4px 8px rgb(0 0 0 / 60%),
    -4px -4px 8px rgb(255 255 255 / 10%);
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
  transform-origin: center;
}

.buttons-second-page:hover {
  background-color: rgb(255 255 0);
  border: 0.2rem solid rgb(255 255 0);
  box-shadow:
    2px 2px 5px rgb(255 255 0),
    -2px -2px 5px rgb(255 255 0);
  transform: scale(1.1);
  font-weight: bold;
  color: rgb(0 51 25);
}

.sound-btn {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  color: rgb(255 255 0);
  transition: transform 0.2s ease;
  transform-origin: center;
}

.sound-btn:hover {
  transform: scale(1.2);
}

.sound-btn i {
  font-size: 1.5rem;
  color: rgb(255 255 0);
  display: inline-block;
  transition: transform 0.2s ease;
}

.sound-btn i:hover {
  transform: scale(1.2);
}

.sound-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.buttons-second-page:disabled {
  background-color: grey;
  box-shadow: none;
  cursor: not-allowed;
  transform: none;
}

.buttons-second-page:disabled:hover {
  background-color: grey;
  border: none;
  box-shadow: none;
  transform: none;
  font-weight: normal;
  color: white;
}

.duration-div {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.duration-icon {
  font-size: 1.5rem;
  color: rgb(255 255 0);
}

.input-duration {
  width: 3.5rem;
  height: 1.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;
  font-family: Kanit, sans-serif;
  font-size: 1.3rem;
  background-color: rgb(255 255 204);
  outline: none;
}

.input-duration:disabled {
  background-color: rgb(240 240 240);
  opacity: 0.5;
  pointer-events: none;
}

.input-picked-option {
  width: auto;
  height: auto;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-family: Kanit, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(255 255 204);
  outline: none;
  text-align: center;
}

.input-picked-option::placeholder {
  color: rgb(0 51 25);
}

.input-picked-option[readonly] {
  pointer-events: none;
  color: rgb(0 51 25);
}

@media screen and (width <= 800px) {
  .buttons-second-page {
    width: 15%;
  }
}

/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/header/header-styles.css ***!
  \*******************************************************************************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-family: Kanit, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255 255 0);
}

/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/buttons/buttons-style.css ***!
  \********************************************************************************************/
.buttons {
  width: 80%;
  height: auto;
  font-family: Kanit, sans-serif;
  background-color: rgb(0 51 25);
  transition: all 0.2s ease;
  box-shadow:
    4px 4px 8px rgb(0 0 0 / 60%),
    -4px -4px 8px rgb(255 255 255 / 10%);
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.buttons:hover {
  background-color: rgb(255 255 0);
  border: 0.2rem solid rgb(255 255 0);
  box-shadow:
    2px 2px 5px rgb(255 255 0),
    -2px -2px 5px rgb(255 255 0);
  transform: translateY(-2px);
  font-weight: bold;
  color: rgb(0 51 25);
}

/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/options/options-style.css ***!
  \********************************************************************************************/
.option-div {
  width: 99%;
  height: auto;
  font-family: Kanit, sans-serif;
  background-color: rgb(0 51 25);
  transition: all 0.2s ease;
  box-shadow:
    4px 4px 8px rgb(0 0 0 / 60%),
    -4px -4px 8px rgb(255 255 255 / 10%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.option-id-div {
  width: 8%;
  height: 2rem;
  font-family: Kanit, sans-serif;
  transition: all 0.3s ease;
  box-shadow:
    4px 4px 8px rgb(0 0 0 / 60%),
    -4px -4px 8px rgb(255 255 255 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.option-input-title,
.option-input-weight {
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  font-family: Kanit, sans-serif;
  font-size: 1.5rem;
  background-color: rgb(255 255 204);
  outline: none;
}

.option-input-title {
  width: 65%;
}

.option-input-weight {
  width: 10%;
}

.input-field[type='text'] {
  font-size: 1.2rem;
  color: rgb(0 51 25);
  appearance: textfield;
  appearance: none;
}

input[type='number'] {
  appearance: none;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.option-button {
  width: 8%;
  height: 2.1875rem;
  font-family: Kanit, sans-serif;
  background-color: rgb(0 51 25);
  transition: all 0.2s ease;
  border: 0.2rem solid rgb(255 255 0);
  box-shadow:
    2px 2px 5px rgb(255 255 0),
    -2px -2px 5px rgb(255 255 0);
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.option-button:hover {
  background-color: rgb(255 255 0);
  border: 0.2rem solid rgb(255 255 0);
  box-shadow:
    2px 2px 5px rgb(255 255 0),
    -2px -2px 5px rgb(255 255 0);
  transform: translateY(-2px);
  font-weight: bold;
  color: rgb(0 51 25);
}

@media screen and (width <= 1115px) {
  .option-input-title {
    width: 50%;
  }

  .option-input-weight {
    width: 15%;
  }

  .option-button {
    width: 15%;
  }
}

@media screen and (width <= 700px) {
  .option-input-title {
    width: 40%;
  }

  .option-input-weight {
    width: 17%;
  }

  .option-button {
    width: 17%;
  }
}

@media screen and (width <= 600px) {
  .option-div {
    gap: 0.2rem;
  }

  .option-input-title {
    width: 30%;
  }

  .option-input-weight {
    width: 23%;
  }

  .option-button {
    width: 22%;
  }
}

@media screen and (width <= 450px) {
  .option-div {
    gap: 0.1rem;
  }

  .option-input-title {
    width: 21%;
    padding: 0;
  }

  .option-input-weight {
    width: 27%;
    padding: 0;
  }

  .option-button {
    width: 25%;
  }
}

/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/modal/modal-window-style.css ***!
  \***********************************************************************************************/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1000;
}

.modal-window {
  width: auto;
  height: auto;
  background-color: rgb(255 255 204);
  border: 0.125rem solid rgb(0 51 25);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2rem;
  border-radius: 1rem;
  color: black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  gap: 1rem;
  font-family: Kanit, sans-serif;
  font-size: 1.2rem;
}

.modal-cancel-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 1.5%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: rgb(0 51 25);
}

.modal-cancel-btn i {
  font-size: 1.2rem;
  color: rgb(0 51 25);
}

.modal-cancel-btn:hover {
  font-size: 1.5rem;
}

@media screen and (width <= 750px) {
  .modal-cancel-btn {
    top: 7%;
  }
}

@media screen and (width <= 400px) {
  .modal-cancel-btn {
    top: 5%;
  }
}

/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/second-page-options/notification-style.css ***!
  \*************************************************************************************************************/
.notification-window {
  width: 20%;
  height: auto;
  background-color: rgb(255 255 204);
  border: 0.125rem solid rgb(0 51 25);
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 23%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2rem;
  border-radius: 1rem;
  color: black;
}

.notification {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  gap: 1rem;
  font-family: Kanit, sans-serif;
  font-size: 1.2rem;
}

.modal-cancel-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 1.5%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: rgb(0 51 25);
}

.modal-cancel-btn i {
  font-size: 1.2rem;
  color: rgb(0 51 25);
}

.modal-cancel-btn:hover {
  font-size: 1.5rem;
}

@media screen and (width <= 800px) {
  .modal-cancel-btn {
    top: 7%;
  }
}

