.first-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 1rem;
}
.options-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}